/* alles op 0 zetten */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* font style */
body {
	font-family: 'Noto Sans', verdana, sans-serif;
	font-size: 16px;
}
h1 {
	font-size: 50px;
}
nav a,
input[type=submit] {
	font-size: 17px;
}
footer {
	font-size: 12px;
}
form {
	line-height: 25px;
}

/* color style */
body {
	background-color: #e1e5ea;
	color: #15191e;
}
li a:hover,
input[type=submit]:hover {
	background-color: #c2ccd6;
	color: #15191e;
}
nav a,
footer a,
input[type=submit] {
	color: #e1e5ea;
}
nav,
footer,
input[type=submit] {
	background-color: #29333d;
}
hr {
	margin: 1px 0;
	border-top: 0;
	border-bottom: 1px solid #29333d;
}

/* mobiel 320px */
header,
main,
footer {
	max-width: 1024px;
	margin: 3px auto;
}
section,
h1 {
	padding: 3px;
}
footer {
	padding: 10px 5px;
}
footer a {
	text-decoration: none;
}
header {
	padding: 3px 0 10px;
}
nav,
footer {
	overflow: hidden;
}
nav a {
	float: left;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}
input[type=submit] {
	padding: 10px 10px;
	cursor: pointer;
	width: 100%;
}
input[type=text], 
input[type=email], 
input[type=tel], 
textarea {
	width: 100%;
}
input,
select,
textarea {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid grey;
}
textarea {
	margin-bottom: 3px;
}
p.article {
	margin: 2px 2px 15px;
}
figure.bio img {
	max-width: 100%;
}
figure.album img {
	max-width: 150px;
}

ul {
	list-style-type: none;
}
input,
select,
textarea {
	border-radius: 5px;
	border: 1px solid grey;
}
.f-input {
	margin-left: 0;
}
.f-i-label {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.f-c-label {
	display: inline-block;

	vertical-align: top;
}

/* ik heb geen les in grid gehad */
.grid-container {
	display: grid;
	grid: 160px / 160px auto;
	grid-gap: 5px;
}

.grid-container > div {
	text-align: left;
	padding: 3px 0;
}


@media (min-width: 768px) {
	/* font style */
	body {
		font-size: 14px;
	}

	/* color style */
	body {
		background-color: #edf8ee;
		color: #071209;
	}
	li a:hover,
	input[type=submit]:hover {
		background-color: #b6e2bc;
		color: #071209;
	}
	nav a,
	footer a,
	input[type=submit] {
		color: #edf8ee;
	}
	nav,
	footer,
	input[type=submit] {
		background-color: #1d4923;
	}

	/* tablet 768px */
	input[type=text], 
	input[type=email], 
	input[type=tel] {
		margin-bottom: 4px;
		max-width: 550px;
	}
	.f-i-label {
		width: 200px;
	}
	figure.bio img {
		max-width: 240px;
	}
	figure.bio {
		float: left;
		margin: 0 3px;
	}
}

@media (min-width: 1024px) {
	/* font style */
	body {
		font-size: 14px;
		line-height: 20px;
	}
	H1 {
		font-size: 42px;
	}

	/* color style */
	body {
		background-color: #edf2f7;
		color: #080d12;
	}
	li a:hover,
	input[type=submit]:hover {
		background-color: #b8cbe0;
		color: #080d12;
	}
	nav a,
	footer a,
	input[type=submit] {
		color: #edf2f7;
	}
	nav,
	footer,
	input[type=submit] {
		background-color: #1f3247;
	}

	/* mobiel 1024px */
	H1 {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	figure.bio {
		float: right;
		margin: 0 3px;
	}
	nav,
	footer,
	input[type=submit] {
		overflow: hidden;
	}
	figure.bio img {
		max-width: 100%;
	}
	input[type=submit] {
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		width: 25%;
	}
	input[type=text], 
	input[type=email], 
	input[type=tel] {
		margin-bottom: 4px;
		min-width: 800px;
		max-width: 818px;
	}
	.f-i-label {
		width: 200px;
	}
	/* ik heb geen les in grid gehad */
	.grid-container {
		display: grid;
		grid-template-columns: 160px auto 160px auto;
		grid-template-rows: 160px 160px;
		grid-gap: 5px 5px;
	}

	.grid-container > div {
		text-align: left;
		padding: 3px 0;
	}

}

